@import "./header.css";
@import "./about.css";
@import "./howto.css";
@import "./reserve.css";
@import "./offer.css";
@import "./contacts.css";
@import "./footer.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "sf-pro-display";
  src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"),
    url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "spaceagecyrillic";
  src: url("../fonts/spaceagecyrillic-regular.woff2") format("woff2"),
    url("../fonts/spaceagecyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

body {
  font-family: "sf-pro-display";
  font-size: 18px;
  /* line-height: 19px; */
  font-weight: 400;
  padding: 0;
  color: #ffffff;
}

.container {
  max-width: 1220px;
  text-align: left;
  margin: 0 auto;
  padding: 45px 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
